<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS_Aura.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A7351C891C753C360073C73A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7351C9D1C753C370073C73A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7351CA81C753C370073C73A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
